%div.panel.panel-default
  %div.panel.panel-heading
    %h3 User products

  -if user.products.any?
        
    %table.table
      %thead
        %tr
          %th Product
          %th Category
          %th Average rating
          %th Reviews
      %tbody
        - user.products.each do |product|
          %tr
            %td
              = link_to product.title, category_product_path(product.category.id, product.id)
            %td
              = link_to product.category.name, category_path(product.category.id)
            %td
              -if product.average_rating
                %span.badge.badge-rating
                  %span.glyphicon.glyphicon-star
                  =product.average_rating
            %td
              = product.reviews.count
  -else
    User have not created any products yet.