%div.row
  
  %aside.col-md-5 
    = render 'users/userdata'
    = render 'users/userproducts'
        
  .col-md-1     
  %div.col-md-6.panel.panel-default
    = render 'users/recentreviews'
    
    
