@import "bootstrap";

$bars-back: #D0D0D0 ;
$bars_text: 003300;
$obj_body: #F0F0F0 ;

body {
  background-color: #F8F8F8 ;

  margin-bottom: 60px;
}
.col-lg-12{
  margin-left: 50px;
  margin-right: 40px;
}
.badge-rating {
  background-color: #d58512;
}

.badge-count {
  background-color: green;
}

tr,td,th {
  text-align: center;
  .first{
    text-align: left;
  }
}

.navbar-default{
  background-color: $bars-back;
  .navbar-brand{
    color: $bars_text;
    font-weight: bold;
  }
}

.panel{
  .panel-heading, .panel-footer{
  background-color: $bars-back;
  color: $bars_text;
  }
  .panel-body.color-body{
    background-color: $obj_body;
  }
}

.well{
  background-color: $obj_body;
  color: $bars_text;

}

.well.well-sm{
  background-color: $bars-back;
}

.navbar-right{
  .btn-default{
  background-color: $obj_body;
  }
}
